@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, #140043, #0f0238, #0d022c, #09011f, #020012);
}

#root {
    width: 100%;
}

@layer utilities {
    .font-arial {
        font-family: Arial, Helvetica, sans-serif;
    }

    .font-lexend {
        font-family: "Lexend", Arial, Helvetica, sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}